# MacOS
._*
.DS_Store

# Other
*.blk
*.mk.old
.dummy

# Temporary hp3D files
fort.19
fort.20
*~
m_options

# Data files
history

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Binary Applications
pois
uwLaser

# Output files
*.e

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Paraview
*.h5
*.vtk
*.xmf
