           2     SHAPE_FLAG:  INT. LEGENDRE SHAPE FCNS.
           1     NEXACT:      EXACT SOLUTION KNOWN
           2     ISYM_FLAG:   1) SYM 2) NO SYMMETRY
           0     INT_LOAD:    GAUSS QUAD. FOR VOL. LOAD
           0     INT_NEUMANN: ADAPTIVE QUAD. FOR BDRY. LOAD
           0     NFLAG2GRID:  NO 2-GRID SOLVER
           2     INPUT_FILE:  0) dumpin, 2)standard
0.000001000000   GEOM_TOL:    GEOMETRY TOLERANCE
           0     INTEGRATION  OVERINTEGRATION QUADRATURE INCREASE
           0     EXGEOM       EXACT GEOMETRY FLAG
