           2     SHAPE_FLAG:  INT. LEGENDRE SHAPE FCNS.
           2     NEXACT:      EXACT SOLUTION KNOWN
           1     ISYM_FLAG:   NO SYMMETRY
           0     INT_LOAD:    GAUSS QUAD. FOR VOL. LOAD
           1     INT_NEUMANN: ADAPTIVE QUAD. FOR BDRY. LOAD
           0     NFLAG2GRID:  NO 2-GRID SOLVER
           2     INPUT_FILE:  INPUT NEW
0.000001000000   GEOM_TOL:    GEOMETRY TOLERANCE
           0     INTEGRATION  OVERINTEGRATION QUADRATURE INCREASE
           0     EXGEOM:      1) EXACT GEOMETRY ELEMENT, 0) ISOPARAMETRIC ELEMENT
